<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>266150621103-pa26b95215kiu7tkt2r9hkfrip1ei6ro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266150621103-pa26b95215kiu7tkt2r9hkfrip1ei6ro</string>
	<key>API_KEY</key>
	<string>AIzaSyBMQ6g0ePYH03-Uk5_--KyChphes7oM3uE</string>
	<key>GCM_SENDER_ID</key>
	<string>266150621103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blums.topos</string>
	<key>PROJECT_ID</key>
	<string>topos-ba722</string>
	<key>STORAGE_BUCKET</key>
	<string>topos-ba722.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266150621103:ios:341857d8c1e51173</string>
	<key>DATABASE_URL</key>
	<string>https://topos-ba722.firebaseio.com</string>
</dict>
</plist>